/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #3a4a4f;
}

.container {
  max-width: 1300px;
  padding: 0rem 3rem;
  margin: 0 auto;
}

.boxes h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: start;
}

.boxes p {
  margin-bottom: 1rem;
  text-align: start;
}

.boxes .anchor-tag a {
  text-decoration: none;
  display: inline-block;
  color: red;
  width: 350px;
  text-align: start;
}

.boxes {
  border-top: 0.2rem solid #0095be;
  border-radius: 5px;
}

.image {
  text-align: center;
  display: block;
}

.image img {
  display: inline-block;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  padding: 1rem;
}

.image2 {
  text-align: center;
  display: block;
}

.image2 img {
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: white;
  padding: 2rem 0;
}

ul {
  width: 90%;
  margin: auto;
  background-color: white;
  border-top: 0.2rem solid #0095be;
  color: #0095be;
  padding: 1rem;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.boxes {
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .main-sec {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .container {
    display: block;
  }
  .main-sec {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .image img {
    width: 16rem;
    height: 16rem;
  }
}
/*# sourceMappingURL=style.css.map */